runtime: python27
instance_class: F4
api_version: 1
threadsafe: true
service: ${MODULE_NAME}

handlers:
- url: /favicon\.ico
  static_files: static/portal/img/favicon.ico
  upload: static/portal/img/favicon\.ico

- url: /robots\.txt
  static_files: static/robots.txt
  upload: static/robots\.txt

- url: /apple-touch-icon\.png
  static_files: static/apple-touch-icon.png
  upload: static/apple-touch-icon\.png

- url: /apple-touch-icon-76x76\.png
  static_files: static/apple-touch-icon-76x76.png
  upload: static/apple-touch-icon-76x76\.png

- url: /apple-touch-icon-120x120\.png
  static_files: static/apple-touch-icon-120x120.png
  upload: static/apple-touch-icon-120x120\.png

- url: /apple-touch-icon-152x152\.png
  static_files: static/apple-touch-icon-152x152.png
  upload: static/apple-touch-icon-152x152\.png

- url: /apple-touch-icon-180x180\.png
  static_files: static/apple-touch-icon-180x180.png
  upload: static/apple-touch-icon-180x180\.png

- url: /static
  static_dir: static
  application_readable: true
  secure: always

- url: /_ah/stats.*
  script: google.appengine.ext.appstats.ui.app
  secure: always

- url: /mail/weekly
  script: main.application
  login: admin
  secure: always

- url: /redesign/.*
  script: main.application
  login: admin
  secure: always

- url: /aimmo/.*
  script: main.application
  login: admin
  secure: always

- url: /api/.*
  script: main.application
  login: admin
  secure: always

- url: /.*
  script: main.application
  secure: always

env_variables:
  DJANGO_SETTINGS_MODULE: 'django_site.settings'
  HTTPS: 'on'
  CACHE_PREFIX: '${CACHE_PREFIX}'
  DATABASE_NAME: '${DATABASE_NAME}'
  DJANGO_SECRET: '${DJANGO_SECRET}'
  RECAPTCHA_PRIVATE_KEY: '${RECAPTCHA_PRIVATE_KEY}'
  RECAPTCHA_PUBLIC_KEY: '${RECAPTCHA_PUBLIC_KEY}'
  DJANGO_PORTAL_CONTACT_FORM_EMAIL: '${DJANGO_PORTAL_CONTACT_FORM_EMAIL}'
  DJANGO_CREATOR_AUTH_TOKEN: '${DJANGO_CREATOR_AUTH_TOKEN}'

libraries:
- name: MySQLdb
  version: latest
- name: ssl
  version: latest
- name: PIL
  version: latest

builtins:
- appstats: on

inbound_services:
- warmup

skip_files:
- ^(.*/)?.*\.scss$
- ^(.*/)?#.*#$
- ^(.*/)?.*~$
- ^(.*/)?.*\.py[co]$
- ^(.*/)?.*/RCS/.*$
- ^(.*/)?\..*$
- ^lib\/.*info$
- ^lib\/PIL
- ^lib\/setuptools\/script.*dev.*.tmpl
- ^lib\/.*/static/.*$
