name: Deploy to Google Cloud

on: workflow_dispatch

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-18.04
    environment: dev
    env:
      APP_ID: decent-digit-629
      NODE_ENV: production
      DB_PORT: 3306
      GKE_ZONE: europe-west1-b
      MODULE_NAME: dev
      VERSION: ${{ github.run_number }}
      DATABASE_POSTFIX: ${{ secrets.DATABASE_POSTFIX }}
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Setup python"
        uses: actions/setup-python@v2
        with:
          python-version: "3.7.x"
          architecture: "x64"

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@master
        with:
          version: "331.0.0"
          service_account_key: ${{ secrets.GCLOUD_AUTH }}
          project_id: ${{ env.APP_ID }}

      - name: Deploy to Google Cloud
        uses: ./.github/actions/deploy_gcloud
        with:
          app-id: ${{ env.APP_ID }}
          module-name: ${{ env.MODULE_NAME }}
          gke-zone: ${{ env.GKE_ZONE }}
          version: ${{ env.VERSION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          django-secret: ${{ secrets.DJANGO_SECRET }}
          django-portal-contact-form-email: ${{ secrets.DJANGO_PORTAL_CONTACT_FORM_EMAIL }}
          dotmailer-create-contact-url: ${{ secrets.DOTMAILER_CREATE_CONTACT_URL }}
          dotmailer-address-book-url: ${{ secrets.DOTMAILER_ADDRESS_BOOK_URL }}
          dotmailer-user: ${{ secrets.DOTMAILER_USER }}
          dotmailer-password: ${{ secrets.DOTMAILER_PASSWORD }}
          dotmailer-default-preferences: ${{ secrets.DOTMAILER_DEFAULT_PREFERENCES }}
          recaptcha-public-key: ${{ secrets.RECAPTCHA_PUBLIC_KEY }}
          recaptcha-private-key: ${{ secrets.RECAPTCHA_PRIVATE_KEY }}
          redis-ip: ${{ secrets.REDIS_IP }}
          redis-port: ${{ secrets.REDIS_PORT }}
