name: Deploy to Dev

# on: workflow_dispatch # This works only on default branch, to be enabled when we merge
on: push

jobs:
  deployment:
    name: Deployment
    runs-on: ubuntu-18.04
    environment: dev
    env:
      APP_ID: decent-digit-629
      NODE_ENV: production
      DB_PORT: 3306
      GKE_ZONE: europe-west1-b
      MODULE_NAME: dev
      VERSION: ${{ github.run_number }}
      DATABASE_POSTFIX: dev
      # RECAPTCHA_STAGING_PUBLIC_KEY: ${{ secrets.RECAPTCHA_STAGING_PUBLIC_KEY }}
      # RECAPTCHA_STAGING_PRIVATE_KEY: ${{ secrets.RECAPTCHA_STAGING_PRIVATE_KEY }}
      # TODO: add secrets from semaphore
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v2'

      # - name: 'Deployment pending'
      #   uses: 'deliverybot/status@master'
      #   with:
      #     state: 'pending'
      #     token: '${{ secrets.GITHUB_TOKEN }}'

      - name: 'Setup python'
        uses: actions/setup-python@v2
        with:
          python-version: '3.7.x'
          architecture: 'x64'

      - name: Create /tmp/cloudsql directory
        run: mkdir -p /tmp/cloudsql
      
      # Setup gcloud CLI
      - uses: google-github-actions/setup-gcloud@master
        with:
          version: '290.0.1'
          service_account_key: ${{ secrets.GCLOUD_AUTH }}
          project_id: ${{ env.APP_ID }}
          export_default_credentials: true
          credentials_file_path: /tmp/cloudsql/key.json
        
      # # Actual deployment
      # - name: 'Deploy ${{ github.event.deployment.environment }}'
      #   run: |
      #     echo "task - ${{ github.event.deployment.task }}"
      #     echo "environment - ${{ github.event.deployment.environment }}"
      #     echo "payload - ${{ toJson(github.event.deployment.payload) }}"
      #     ls
      
      # - name: 'Setup MySQL'
      #   run: |
      #     sudo apt-get install libmysqlclient-dev
      #     pip install mysqlclient==1.4.*
      
      - name: 'Install kubernetes'
        run: pip install kubernetes
      
      # - name: 'Build'
      #   run: ./build.sh dev

      - name: 'Build'
        run: |
          pip install requests
          pip install -t lib requests-toolbelt

          pip install -t lib git+https://github.com/ocadotechnology/django-autoconfig
          pip install -t lib --upgrade codeforlife-portal

          pip install -t lib django-anymail[amazon_ses]
          pip install -t lib google-auth==1.*

          if [[ $MODULE_NAME = "default" ]]; then
              pip install -t lib --upgrade --no-deps aimmo
          else
              pip install -t lib --pre --upgrade --no-deps aimmo
          fi

          python generate_requirements.py

          ./manage.py collectstatic --noinput
      
      # - name: 'Restart MySQL'
      #   run: |
      #     sudo sed -i '/\[mysqld\]/assl = 1' /etc/mysql/mysql.conf.d/mysqld.cnf
      #     sudo service mysql restart

      - name: 'Get cluster credentials'
        # run: |-
        #   gcloud container clusters get-credentials ${{ github.event.deployment.environment }} --zone "$GKE_ZONE"
        run: |-
          gcloud container clusters get-credentials "dev" --zone "$GKE_ZONE"
      
      - name: 'Deploy k8s'
        # run: python clusters_setup/deploy.py ${{ github.event.deployment.environment }}
        run: python clusters_setup/deploy.py "dev"
      
      - name: 'Deploy'
        env:
          CLOUDSDK_CORE_DISABLE_PROMPTS: 1
          CLOUDSDK_PYTHON_SITEPACKAGES: 1
          DATABASE_NAME: cfl_${{env.DATABASE_POSTFIX}}
          CACHE_PREFIX: ${{ env.MODULE_NAME }}-
          REDIS_IP: ${{ secrets.REDIS_IP }}
          REDIS_PORT: ${{ secrets.REDIS_PORT }}
        run: |
          # Install Cloud SQL Proxy
          wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O /tmp/cloud_sql_proxy
          chmod +x /tmp/cloud_sql_proxy

          # Start Cloud SQL Proxy and migrate
          sudo /tmp/cloud_sql_proxy -dir=/cloudsql &
          
          # wait for cloudsql-proxy to be ready
          is_sql_proxy_ready=0
          for i in {1..30}; do
              echo "Waiting for cloudsql-proxy to be ready $i/30"
              if mysqladmin -S /cloudsql/decent-digit-629:europe-west1:db ping; then
                echo "cloudsql-proxy is ready"
                is_sql_proxy_ready=1
                break
              fi
              sleep 2
          done

          echo $DATABASE_NAME
          echo $CACHE_PREFIX

          if [[ $is_sql_proxy_ready -eq 0 ]]; then
            exit 1
          fi

          ./manage.py migrate --no-input

          envsubst <app.yaml.tmpl >app.yaml

          gcloud app --quiet deploy app.yaml --project ${APP_ID} --version ${VERSION} --no-promote
          gcloud app --quiet deploy cron.yaml --project ${APP_ID} --version ${VERSION} --no-promote

          # Test the site
          ./test.sh ${MODULE_NAME} ${VERSION}

          # Promote
          gcloud app services set-traffic --project ${APP_ID} --splits ${VERSION}=1 ${MODULE_NAME} --migrate

          # Test the site - again!
          ./test.sh ${MODULE_NAME} ${VERSION}

      # - name: 'Deploy'
      #   env:
      #     CLOUD_SQL_HOST: ${{ secrets.CLOUD_SQL_HOST }}
      #     CLOUD_SQL_PASSWORD: ${{ secrets.CLOUD_SQL_PASSWORD }}
      #     REDIS_IP: ${{ secrets.REDIS_IP }}
      #     REDIS_PORT: ${{ secrets.REDIS_PORT }}
      #   run: ./deploy.sh dev ${{ github.run_number }} dev

      # - name: 'Deployment success'
      #   if: success()
      #   uses: 'deliverybot/status@master'
      #   with:
      #     state: 'success'
      #     token: '${{ secrets.GITHUB_TOKEN }}'

      # - name: 'Deployment failure'
      #   if: failure()
      #   uses: 'deliverybot/status@master'
      #   with:
      #     state: 'failure'
      #     token: '${{ secrets.GITHUB_TOKEN }}'
